<div class="container-fluid" style="height: 100%">
    <div class="row h-100">
      <!-- Columna izquierda (tamaño 7 en pantallas grandes) -->
      <div class="col-md-12 col-sm-12">
        <!-- Contenido de la columna izquierda -->
        <div
          class=""
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          "
        >
        <p></p>
          <h3>Lista de materia prima</h3>
          <button class="btn btn-primary" data-bs-toggle='modal' data-bs-target='#addMaterial'>Agregar</button>
        </div>
        <div
          class="mb-4 mt-2"
          style="
            height: calc(100vh - 150px);
            overflow: auto;
            border: 2px solid var(--color2);
          "
        >
          <!-- aqui va la tabla del ticket-->
  
          <table id="dataTable_ventas" class="table">
            <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Opciones</th>
            </thead>
            <tbody id="tableBody_ventas"></tbody>
          </table>
        </div>
        
      </div>
      
    </div>
  </div>
  
  <!-- aqui van los formularios emergentes -->
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="addMaterial"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="agregarProductoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="agregarProductoModalLabel">
            Agregar Materia prime
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="agregarProductoForm">
            
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Ingrese el nombre"
              />
            </div>
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad (Kg):</label>
              <input
                type="number"
                class="form-control"
                id="cantidad"
                placeholder="Ingrese la cantidad"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            onclick="agregarProducto()"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>