<div class="jumbotron jumbotron-main" id="home">
    <!-- /.particles div -->
    <div id="particles-js">
      <canvas class="particles-js-canvas-el"></canvas>
    </div>
    <!-- /.particles div -->
    <div class="welcome animate__animated animate__zoomInDown">
        
      <h1
        class="scaleReveal"
        data-sr-id="46"
        style="
          visibility: visible;
          -webkit-transform: translateY(0) scale(1);
          opacity: 1;
          transform: translateY(0) scale(1);
          opacity: 1;
          -webkit-transition: -webkit-transform 1.5s
              cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s,
            opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s;
          transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s,
            opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s;
        "
      >
        Bienvenido 
        <strong>Don Galleto</strong>.
      </h1>
      <p
        class="bottomReveal"
        data-sr-id="2"
        style="
          visibility: visible;
          -webkit-transform: translateY(0) scale(1);
          opacity: 1;
          transform: translateY(0) scale(1);
          opacity: 1;
          -webkit-transition: -webkit-transform 1.5s
              cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s,
            opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s;
          transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s,
            opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s;
        "
      >
        Esperamos con tenga un día <strong>muy exitoso</strong>. <br> Seleccione uno de los botones de arriba para empezar a trabajar.
      </p>
    </div>
  </div>