<br>
<div class="container d-flex align-items-center justify-content-center vh-100">
    <h3 class="text-center">Estas son tus ventas por unidades filtrados por:</h3>
</div>
<br>
<div class="container-fluid px-5 col-5">
    <div class="row justify-content-center">
        <div class="btn-group d-flex" role="group" aria-label="Filtros">
            <input type="radio" class="btn-check" name="filters" id="dia" value="dia" autocomplete="off" />
            <label class="btn btn-outline-primary" for="dia">Día</label>
            
            <input type="radio" class="btn-check" name="filters" id="semana" value="semana" autocomplete="off" />
            <label class="btn btn-outline-primary" for="semana">Semana</label>
            
            <input type="radio" class="btn-check" name="filters" id="mes" value="mes" autocomplete="off" />
            <label class="btn btn-outline-primary" for="mes">Mes</label>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <canvas id="grafico_galletas"></canvas>
        </div>
    </div>
</div>
<br>
<br>
<div class="container d-flex align-items-center justify-content-center vh-100">
    <h3 class="text-center">Este es el inventario de tus galletas:</h3>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <canvas id="grafico_inventario"></canvas>
        </div>
    </div>
</div>