<br>
<div class="container d-flex align-items-center justify-content-center">
    <h3 class="text-center">Este gráfico representa las galletas que haz vendido:</h3>
</div>
<br>
<div class="container-fluid px-5 col-5">
    <div class="row justify-content-center">
        <div class="btn-group d-flex" role="group" aria-label="Filtros">
            <input type="radio" class="btn-check" name="filters" id="dia" value="dia" autocomplete="off" />
            <label class="btn btn-outline-primary" for="dia">Día</label>

            <input type="radio" class="btn-check" name="filters" id="semana" value="semana" autocomplete="off" />
            <label class="btn btn-outline-primary" for="semana">Semana</label>

            <input type="radio" class="btn-check" name="filters" id="mes" value="mes" autocomplete="off" />
            <label class="btn btn-outline-primary" for="mes">Mes</label>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <canvas id="grafico_galletas"></canvas>
        </div>
    </div>
</div>
<br>
<br>
<div class="container d-flex align-items-center justify-content-center">
    <h3 class="text-center">Este gráfico representa el inventario de galletas:</h3>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <canvas id="grafico_inventario"></canvas>
        </div>
    </div>
</div>
<br>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <!-- Columna izquierda (tamaño 12 en pantallas grandes) -->
        <div class="col-md-12 col-sm-12 col-lg-7">
            <!-- Contenido centrado en el 80% de la pantalla -->
            <div class="text-center mb-4">
                <h3>Desglose de ventas</h3>
            </div>
            <div class="mb-4 mt-2" style="height: calc(100vh - 150px); overflow: auto; border: 2px solid var(--color2);">
                <!-- Aquí va la tabla del ticket -->
                <table id="dataTable_ventas" class="table">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                        <th>Fecha</th>
                    </thead>
                    <tbody id="tableBody_ventas_reporte"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>